.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar.logo {
  width: 1300px;
}
.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #2d2c2c;
  font-size: 18px;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: #05070f;
  border: 1px solid #bf9766;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar button:hover {
  background-color: #bf9766;
  color: white;
  border-color: #bf9766;
}
.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #2d2c2c;
}
.navbar li {
  cursor: pointer;
}
.navbar-search-icon {
  position: relative;
}
.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: #bf9766;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
.navbar .logo {
  width: 150px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

.search-icon {
  font-size: 20px;
  color: #bf9766;
  cursor: pointer;
}

.search-icon,
.basket-icon {
  font-size: 20px;
  color: #bf9766;
  cursor: pointer;
}

.basket-icon {
  margin-top: 4px; /* Adds space above the icon, pushing it down */
  font-size: 20px;
  color: #bf9766;
  cursor: pointer;
}

/* Hover effect for navbar menu items */
.navbar-menu li a {
  transition: color 0.3s ease, border-bottom 0.3s ease;
  position: relative;
}

.navbar-menu li a:hover {
  color: #bf9766; /* Change color on hover */
}

.navbar-menu li a:not(.active):hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #bf9766;
  bottom: -2px;
  left: 0;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

/* Hover effect for search icon and basket icon */
.search-icon,
.basket-icon {
  transition: color 0.3s ease, transform 0.2s ease;
}

.search-icon:hover,
.basket-icon:hover {
  color: #bf9766; /* Change color on hover */
  transform: scale(1.2); /* Slightly enlarge on hover */
}

@media (max-width: 1050px) {
  .navbar-logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
  .navbar .logo {
    width: 140px;
  }
  .search-icon {
    font-size: 18px;
  }
  .search-icon,
  .basket-icon {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .navbar-logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20x;
  }

  .navbar-right button {
    padding: 7x 20px;
    font-size: 15px;
  }
  .navbar .logo {
    width: 120px;
  }
  .search-icon {
    font-size: 16px;
  }
  .search-icon,
  .basket-icon {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .navbar-logo {
    width: 140px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar .logo {
    width: 140px;
  }
}
